.jumbotron { background-image:url(Images/lobster_muted.jpg);
             background-size:cover;
             background-position: center center;
             
}            
.feature{
    text-align: center;
}
.feature .glyphicon{
    
    font-size:400%;
}
.feature .glyphicon-apple
{
    color: #0094ff
}
.feature .glyphicon-flash{

    color: #0094ff
}
.feature .glyphicon-camera{
    color: #0094ff
}
.row{
  
}